@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --white: #fff;
  --blue-800: #1A202C;
  --blue-600: #143D8F;
  --grey-100: #E9ECEF;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background: #fff;
}

form input.input,input,textarea,select{
  background-color: #fff;
  color: var(--black);
}

